<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"> <!-- Referência ao seu arquivo CSS -->
  <title>Lista de Notícias</title>
</head>
<body>
  <header>
      <h1>Jornal Nacional</h1>
      <div class="menu-toggle" id="menu-toggle">

        <div class="bar"></div>
        
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <!-- Menu de navegação -->
      <nav id="nav-menu" class="nav-menu">
        <ul>
          <li><a href="#">Início</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
  </header>

  <div class="container-noticias">
    <div class="noticias-esquerda">
      <% for (let i = 0; i < noticias.length - 1; i++) { %> <!-- Evitar exibir a última notícia -->
        <% if (i % 2 === 0) { %>
          <div class="noticia-par">
        <% } %>

          <div class="noticia">
            <a href="<%= noticias[i].link %>">
              <img src="/images/<%= noticias[i].imagem %>" alt="Imagem da notícia" style="max-width: 100%; height: auto;">
            </a>
            <div>
              <h2><%= noticias[i].titulo %></h2>
              <p><%= noticias[i].noticia %> <a href="<%= noticias[i].link %>">Ler mais...</a></p>
            </div>
          </div>

        <% if (i % 2 === 1) { %>
          </div>
        <% } %>
      <% } %>
    </div>

    <div class="noticias-direita">
      <% noticias.slice(3).forEach(noticia => { %>
        <div class="noticia">
          <h2><%= noticia.titulo %></h2>
          <p><%= noticia.noticia %></p>
          <% if (noticia.imagem) { %>
            <a href="<%= noticia.link %>">
              <img src="/images/<%= noticia.imagem %>" alt="Imagem da notícia" style="max-width: 100%; height: auto;">
            </a>
          <% } %>
        </div>
        <hr>
      <% }) %>
    </div>
  </div>
</body>
</html>
